<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.min.js"></script>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <div class="row">
        <div class="col-1" th:replace="fragments/common :: navbar"></div>
        <div class="container mt-5 ml-5">
            <div>
                <h1 sec:authorize="isAuthenticated()">Welcome to the vehicle market, [[${#httpServletRequest.remoteUser}]]</h1>
                <p>With the assistance of this web application, you are able to browse through our vehicle collection</p>
                <p>According to your assigned role, you ought to have access to different kinds of functions</p>
            </div>
        </div>
    </div>
</body>
</html>