<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vehicles</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.min.js"></script>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="row">
    <div class="col-1" th:replace="fragments/common :: navbar"></div>
    <div id="list" class="col">
        <table class="table">
            <thead>
            <th scope="col">Identifier</th>
            <th scope="col">Model Name</th>
            <th scope="col">Price</th>
            <th scope="col">Type</th>
            <th scope="col" v-if="roleList.includes('ADMIN') || roleList.includes('WORKER')">Actions</th>
            </thead>
            <tbody>
            <tr v-for="vehicle in vehicles">
                <td>{{vehicle.id}}</td>
                <td>{{vehicle.name}}</td>
                <td>{{vehicle.price}}</td>
                <td>{{vehicle.vehicleType}}</td>
                <td v-if="roleList.includes('ADMIN') || roleList.includes('WORKER')">
                    <button type="button" class="btn btn-primary mr-3" v-on:click="editVehicle(vehicle.id)">Modify</button>
                    <button v-if="roleList.includes('ADMIN')" type="button" class="btn btn-danger" v-on:click="deleteVehicle(vehicle)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <div class="row ml-2" v-if="roleList.includes('ADMIN') || roleList.includes('WORKER')">
            <button type="button" class="btn btn-primary" v-on:click="newVehicle">New</button>
        </div>
    </div>
</div>
<script>
    const app = Vue.createApp({
        data(){
            return {
                vehicles: [],
                roleList: []
            };
        },
        methods: {
            refreshList(){
                fetch('api/vehicles', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(out => this.vehicles = out);
            },

            populateRoles() {
                fetch('api/role-list', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })
                    .then(res => res.json())
                    .then(out => {
                        this.roleList = out;
                    });
            },

            deleteVehicle(vehicle){
                let windowMessage = `Are you sure you want to delete ${vehicle.name}?\nuid: ${vehicle.id}`;
                if (!window.confirm(windowMessage)) return;

                fetch('api/vehicles/' + vehicle.id, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(res=>{
                    if (res.ok){
                        this.refreshList();
                    } else {
                        throw new Error(res.error);
                    }
                });
            },

            newVehicle(){
                window.location = 'http://localhost:8080/new';
            },

            editVehicle(id){
                window.location = 'http://localhost:8080/new?id=' + id;
            }
        },
        mounted() {
            this.refreshList();
            this.populateRoles();
        }
    }).mount('#list')
</script>
</body>
</html>