<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="center">
    <h1>Welcome</h1>
    <form method="post" action="#" th:action="@{/login}">
        <div class="txt_field">
            <input type="text" name="username" id="username" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" id="password" required>
            <span></span>
            <label>Password</label>
        </div>
        <input type="submit" value="Login">
    </form>
    <div th:if="${param.error}">
        <span th:text="#{login.error}">Invalid username or password</span>
    </div>
    <div th:if="${param.logout}">
        <span th:text="#{login.logout}">You have been logged out</span>
    </div>
</div>

</body>
</html>