<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Vehicle</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.min.js"></script>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="row">
    <div class="col-1" th:replace="fragments/common :: navbar"></div>
    <div id="vehicle" class="container mt-5">
        <div class="row">
            <label class="col-1" for="name">Name: </label>
            <input class="col-2" type="text" id="name" v-model="vehicle.name">
        </div>
        <div class="row mt-2">
            <label class="col-1" for="price">Price: </label>
            <input class="col-2" type="text" id="price" v-model="vehicle.price">
        </div>
        <div class="row mt-2">
            <label class="col-1" for="types">Type: </label>
            <select class="col-1" id="types" v-model="vehicle.vehicleType">
                <option value="">Válasszon a listából</option>
                <option v-for="item in vehicleTypes">{{ item }}</option>
            </select>
            <button type="button" class="col-2 btn btn-primary ml-2" v-on:click="randomize">Randomize</button>
        </div>
        <hr>
        <div class="row">
            <button type="button" class="col-1 btn btn-success" v-on:click="save">Save</button>
            <button type="button" class="col-1 btn btn-danger ml-2" v-on:click="empty">Empty</button>
            <button type="button" class="col-1 btn btn-warning ml-2" v-on:click="navigateBack">Back</button>
        </div>
    </div>
</div>
<script>
    const app = Vue.createApp({
        data(){
            return {
                vehicle: {},
                vehicleTypes: []
            }
        },
        methods: {
            save() {
                fetch('http://localhost:8080/api/vehicles', {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(this.vehicle)
                }).then(res => {
                    if (res.ok) {
                        window.location = "http://localhost:8080/list"
                    } else {
                        throw new Error(res.error);
                    }
                });
            },
            randomize(){
                let value = this.vehicleTypes[Math.floor(Math.random() * this.vehicleTypes.length)];
                this.vehicle.vehicleType = value;
            },
            empty(){
                let emptyObjectField = '';

                this.vehicle.name = emptyObjectField;
                this.vehicle.price = emptyObjectField;
                this.vehicle.vehicleType = emptyObjectField;
            },
            navigateBack(){
                history.back();
            }
        },
        mounted(){
            const id = new URLSearchParams(window.location.search).get('id');
            if(id != null){
                fetch('http://localhost:8080/api/vehicles/' + id, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(res => {
                    if(res.ok){
                        return res.json();
                    } else {
                        throw new Error(res.error);
                    }
                }).then(out => this.vehicle = out);
            }
            fetch('http://localhost:8080/api/vehicles/types', {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(res=> {
                if(res.ok){
                    return res.json();
                } else {
                    throw new Error(res.error);
                }
            }).then(out => this.vehicleTypes = out);
        }
    }).mount('#vehicle')
</script>
</body>
</html>