<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.min.js"></script>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="row">
    <div class="col-1" th:replace="fragments/common :: navbar"></div>
    <div id="users" class="container mt-5 ml-5">
        <table>
            <tr>
                <td class="ml-2" v-for="user in users">
                    <div  class="card" style="width: 18rem;">
                        <div>
                            <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{user.username}}</h5>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
    <script>
        const app = Vue.createApp({
            data(){
                return {
                    users: []
                }
            },
            methods: {
                refreshList() {
                    fetch('api/users', {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(res => res.json())
                        .then(out => {
                            console.log(out);
                            this.users = out;
                        });
                }
            },
            mounted() {
                this.refreshList();
            }
        }).mount('#users');
    </script>
</div>
</body>
</html>